<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Bookers</title>
  </head>

  <body>
    <table>
     <tablehead>
       <tr>
         <th>Title</th>
         <th>Body</th>
         <th colspan="3"></th>
       </tr>
     </tablehead>

    </table>

  </body>

</html>



<%= form_with model: @book, url: '/books', method: :post do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>

   <h4>Body</h4>
   <%= f.text_field :body %>

   <%= f.submit 'Create Book' %>
  <% end %>
