<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>Bookers</title>
  </head>

  <body>
    <h1>Books</h1>

    <table>
     <tablehead>
       <tr>
         <th>Title</th>
         <th>Body</th>
         <th colspan="3"></th>
       </tr>
     </tablehead>

     <tablebody>
      <tr>
        <tb>リーダブルコード</tb>
        <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
      </tr>

      <tr>
        <tb>トラブル知らずのシステム設計</tb>
        <tb>システム設計の要点を図解で説明してくれます</tb>
      </tr>

      <tr>
        <tb>たのしいRuby</tb>
        <tb>Rubyの入門におすすめです</tb>
      </tr>

      <tr>
        <tb>入門Git</tb>
        <tb>	gitについての基本操作から内部構造まで解説してくれます</tb>
      </tr>

      </tablebody>
    </table>

  </body>

</html>



<%= form_with model: @book, url: '/books', method: :post do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>

   <h4>Body</h4>
   <%= f.text_field :body %>

   <%= f.submit 'Create Book' %>
  <% end %>
