<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="homes.scss">
     <title>Bookers</title>
  </head>


  <body>
    <h1>
      <p>ようこそ<strong>Bookers</strong>へ！</p>
    </h1>
    <h4>
      <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
      <p>印象を共有し交換することができます</p>
    </h4>

    <a href="/books/new"><h5>start</h5></a>
  </body>
</html>
